language: node_js
node_js:
  - "13"
branches:
  only:
    - master
before_script:
  - npm install -g firebase-tools
  - npm install -g react
script:
  - npm run build
after_success:
  - firebase deploy --token $FIREBASE_TOKEN
