.frontpage-section-2 img {
  width: 90%;
}
.frontpage-section-2 h1 {
  font-size: 30px;
  color: black;
}
.frontpage-section-2 ul {
  list-style-type: none;
  padding: 0;
}
.frontpage-section-2 {
  background: white;
  transform: translateY(-50px);
  box-shadow: var(--box-shadow);
  border-radius: 40px;
  padding: 80px 50px;
}

.fronpage-section-2 button {
  width: 100%;
}
